<h1> these are my mateys</h1>
<h1>there are now {{pirates.length}} on our list</h1>
<a href="/pirates/new">GO CREATE YOUR PIRATE</a>

<ol>
{{#each pirates}}
    <li>NAME:<a href="/pirates/{{@index}}">{{name}}</a></li>
    <li>BIRTHPLACE:{{birthplace}}</li>
    <li>YEAR OF DEATH:{{death_year}}</li>
    <li>BASE:{{base}}</li>
    <li>NICKNAME:{{nicknname}}</li>
    <form method="POST" action="/pirates/{{@index}}?_method=DELETE">
    <button>DELETE</button>
    </form>
{{/each}}
</ol>